.App {
  text-align: center;
}

.components-container {
  display: flex;
  justify-content: center; /* Center align components horizontally */
  align-items: center; /* Align components vertically */
  gap: 20px; /* Space between the components */
}

