/* VerticalSlider.css */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider-button {
    margin-bottom: 8px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #210514a7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  .slider-button:hover {
    background-color: #3b74f1;
  }
  
  .vertical-slider {
    position: relative;
    width: 33px;
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    touch-action: none; /* Disable default touch actions */
  }
  
  .slider-track {
    position: relative;
    width: 100%;
    height: 100%;
    background: #e0e0e0;
  }
  
  .slider-thumb {
    position: absolute;
    width: 100%;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 10px;
    transform: translateY(50%);
  }
  
  .slider-value {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
  }
  